@font-face {
    
    src: url(fonts/VHSGX.ttf);
font-family: 'vhsregular';
    

}

.r100 {
    font-family: 'vhsregular', sans-serif;
    font-weight: 100;
    font-style: normal;
  color: green;
    text-align:center;


}
