body {
  padding: 1px;
  margin: 0;
  padding: 0;
background-color: powderblue;
}
@font-face {
  src: url(fonts/vhswidthGX.ttf);
  font-family: 'vhswidth';
}
@font-face {
  src: url(fonts/VHSShadowGX.ttf);
  font-family: 'vhsshadow';
}
@font-face {
  src: url(fonts/VHSGX.ttf);
  font-family: 'vhsregular';
}

.animated-text {
  font-family: 'vhswidth', sans-serif;
 font-style: normal;
background-color:  pink;
 height: 100px;
  width: 100%;
  margin: auto;
  text-align: center;
vertical-align: middle;
line-height: 100px;
  color: #FFFFFF; 
font-variation-settings: 'width' 75;
}


@keyframes ginto-animation {
  from {
    font-variation-settings: "wght" 0, "ital" 0, "NORD" 100;
  }
  to {
    font-variation-settings: "wght" 100, "ital" 100, "NORD" 200;
  }
}

.animatedwidth {
  font-family: 'vhswidth', sans-serif;
  transition: font-variation-settings 0.3s ease;
  animation-name: ginto-animation;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
text-align:center;
}


.column {
  float: left;
  width: 33.33%;
  padding: 5px;
background-color:  pink;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row {
  display: flex;
background-color:  pink;
}

.column {
  flex: 33.33%;
  padding: 5px;
}


.talks {
vertical-align: middle;
line-height: 100px;
 text-align: center;
line-height: normal;
 width: 50%;
  margin: auto;

}
.explain {
  font-family: 'vhsregular';
  text-align: center;
font-size: 30px;
 color: white;
font-variation-settings: 'ital' 10;
}

.alphabete { 
font-family: 'vhsregular';
  text-align: center;
  text-align: justify;
font-size: 180px;
 color: white;
width: 50%;
 margin: auto;
}

.button-wrapper {
  text-align: center;
  margin: 20px 0;


}

.button {
  font-family: 'vhsregular';
  font-variation-settings: 'ital' -20;
  transition: font-variation-settings 0.3s ease;
}

.button:hover {
  font-variation-settings: 'ital' 20;
}

.button {

  font-family: 'vhsregular';
  font-variation-settings: 'ital' 0;
  transition: font-variation-settings 0.3s ease;
  font-size: 7vw;
  background-color:  	#FFFF66;
  color: red;
  letter-spacing: 0;
  border-radius: 6vw;
  padding: 1vw 3vw 1vw;
  outline: none;
  border: none;

}

.movielist {
  font-family: 'vhswidth';
font-variation-settings: 'wght' 10;
  text-align: center;
  font-size: 50px;
vertical-align: middle;
line-height: 200px;
  font-size: 50px;
color:black; 

   height: 200px;
  width: 100%;
}

select {
  font-family: 'vhswidth';
  width: 700px;
height:60px;
 font-size: 50px;
}

.range__slant {
  --text-vf-wght: 400;
  --text-vf-wdth: 95;
  --text-vf-ital: 0;

  --low-value: -20;
  --current-value: var(--text-vf-ital);
  --high-value: 20;
padding:0;
    margin:0;
background-color:  	#FFFF66;
width:50%;
margin: auto;
  /* Control buttons */
}

.range__slant .paragraph {

  margin-left: auto;
  margin-right: auto;
  max-width: 95vw;
  width: 45em;
}
.range__slant .paragraph .text {
  font-family: 'vhsregular', sans-serif;
  font-variation-settings: 'ital' 1;
  font-style: normal;
  color: red;
  font-size: 3rem;
  font-variation-settings: 'ital' var(--text-vf-ital);
  transition: font-variation-settings 0.3s ease;
  line-height: 7rem;
  margin:0 auto 0 auto;
  text-align: center;

}
.range__slant .controls {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  margin: 2em auto;
  text-align: center;
  width: 20rem;

}
.range__slant .controls h3 {
  display: inline;
  font-weight: normal;
  font-family: regular;
}
.range__slant .controls label {
  float: left;
  height: 1px;
  text-indent: -999em;
  visibility: hidden;
}
.range__slant .controls .slider {
  grid-column: 2/3;
}
.range__slant .controls .slider input {
  width: 100%;
}
.range__slant .controls .value-tag {
  grid-column: span 3;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-family: regular;
  text-align: left;
}
.range__slant .controls .value-tag::before {
  counter-reset: tag var(--value-tag);
  content: "'" var(--value-tag) "' range";
  font-family: sans-serif;
}
.range__slant .controls .low-value {
  grid-column: 1/2;
  text-align: left;
  width: 2.5rem;
}
.range__slant .controls .low-value::before {
  counter-reset: tag var(--low-value);
  content: counter(tag);
  font-family: sans-serif;
}
.range__slant .controls .high-value {
  grid-column: 4/5;
  text-align: right;
  width: 2.5rem;
}
.range__slant .controls .high-value::before {
  counter-reset: tag var(--high-value);
  content: counter(tag);
  font-family: sans-serif;
}
.range__slant .controls .current-value {
  grid-column: 2/3;
}
.range__slant .controls .current-value::before {
  counter-reset: tag var(--current-value);
  border: solid 1px black;
  content: counter(tag);
  display: inline-block;
  font-family: sans-serif;
  min-width: 3rem;
  margin: 0 auto;
  padding: 0.25rem 0.25rem 0.2rem 0.25rem;
}

.links{
   display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.button1 {
font-family: 'vhsregular', sans-serif;
  background-color: white;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
border-radius: 12px;
 margin:  auto;
}
.button2 {
font-family: 'vhsregular', sans-serif;
  background-color: white;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
border-radius: 12px;
 margin:  auto;
}

.button3 {
font-family: 'vhsregular', sans-serif;
  background-color: white;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
border-radius: 12px;
 margin:  auto;
}

.scroll-left {
height: 70px; 
overflow: hidden;
position: relative;
background-color:pink;
  color: white;
font-size: 40px;
vertical-align: middle;
line-height: 100px;
}
.scroll-left p {
font-family: 'vhsregular';
position: absolute;
width: 100%;
height: 100%;
margin: 0;
line-height: 50px;
text-align: center;
/* Starting position */
-moz-transform:translateX(100%);
-webkit-transform:translateX(100%); 
transform:translateX(100%);
/* Apply animation to this element */ 
-moz-animation: scroll-left 10s linear infinite;
-webkit-animation: scroll-left 15s linear infinite;
animation: scroll-left 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
0% { -moz-transform: translateX(100%); }
100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
0% { -webkit-transform: translateX(100%); }
100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
0% { 
-moz-transform: translateX(100%); /* Browser bug fix */
-webkit-transform: translateX(100%); /* Browser bug fix */
transform: translateX(100%); 
}
100% { 
-moz-transform: translateX(-100%); /* Browser bug fix */
-webkit-transform: translateX(-100%); /* Browser bug fix */
transform: translateX(-100%); 
}
}