var observer = new IntersectionObserver(function(entries, observer) {
  entries.forEach(function(entry) {
    // Pause/Play the animation
    if (entry.isIntersecting) entry.target.style.animationPlayState = "running"
    else entry.target.style.animationPlayState = "paused"
  });
});

var variableTexts = document.querySelectorAll(".vf-animation");
variableTexts.forEach(function(el) { observer.observe(el); });



body{
  padding: 1px;
margin:0;
padding:0;
   
}

@font-face {
    
src: url(fonts/VHSGX.ttf);
font-family: 'vhsregular';
    

}
@keyframes ginto-animation {
  from {
    font-variation-settings:"ital" -20;
  }
  to {
    font-variation-settings:"ital" 20;
  }

}
.r100 {
    font-family: 'vhsregular', sans-serif;
  font-variation-settings:"ital" 1;
font-style: normal;
  color: green;
    text-align:center;

        

 transition: font-variation-settings 0.3s ease;
  animation-name: ginto-animation;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
 }

h5 { 
 font-family: 'vhsregular';
text-align:center;
}

.my-variable-text3 {
  font-family: 'vhsregular';
  font-variation-settings: "ital" -20;
  transition: font-variation-settings 0.3s ease;
}

.my-variable-text3:hover {
  font-variation-settings:  "ital" 20;
}

 .my-variable-text3 {
    font-family: 'vhsregular';
    font-variation-settings: "ital" 0;
    transition: font-variation-settings 0.3s ease;
    font-size: 7vw;
    background-color: blue;
    color: white;
    letter-spacing: 0;
    border-radius: 6vw;
    padding: 1vw 3vw 1vw;
    outline: none;
    border: none;
}


.range__slant {
  --text-vf-wght: 400;
  --text-vf-wdth: 95;
  --text-vf-ital: 0;
  --value-tag: "GRAD";
  --low-value: -20;
  --current-value: var(--text-vf-ital);
  --high-value: 20;
  /* Control buttons */
}
.range__slant .paragraph {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  max-width: 95vw;
  width: 45em;
}
.range__slant .paragraph .text {
  font-family: 'vhsregular', sans-serif;
  font-variation-settings:"ital" 1;
font-style: normal;
  color: red;
  font-size: 5rem;
  font-variation-settings: "ital" var(--text-vf-ital);
  line-height: 7rem;
  margin: 0 auto 0 auto;
  text-align: center;
}
.range__slant .controls {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  margin: 2em auto;
  text-align: center;
  width: 20rem;
}
.range__slant .controls h3 {
  display: inline;
  font-weight: normal;
  font-family: regular;
}
.range__slant .controls label {
  float: left;
  height: 1px;
  text-indent: -999em;
  visibility: hidden;
}
.range__slant .controls .slider {
  grid-column: 2/3;
}
.range__slant .controls .slider input {
  width: 100%;
}
.range__slant .controls .value-tag {
  grid-column: span 3;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: left;
}
.range__slant .controls .value-tag::before {
  counter-reset: tag var(--value-tag);
  content: "'" var(--value-tag) "' range";
  font-family: sans-serif;
}
.range__slant .controls .low-value {
  grid-column: 1/2;
  text-align: left;
  width: 2.5rem;
}
.range__slant .controls .low-value::before {
  counter-reset: tag var(--low-value);
  content: counter(tag);
  font-family: sans-serif;
}
.range__slant .controls .high-value {
  grid-column: 4/5;
  text-align: right;
  width: 2.5rem;
}
.range__slant .controls .high-value::before {
  counter-reset: tag var(--high-value);
  content: counter(tag);
  font-family: sans-serif;
}
.range__slant .controls .current-value {
  grid-column: 2/3;
}
.range__slant .controls .current-value::before {
  counter-reset: tag var(--current-value);
  border: solid 1px black;
  content: counter(tag);
  display: inline-block;
  font-family: sans-serif;
  min-width: 3rem;
  margin: 0 auto;
  padding: 0.25rem 0.25rem 0.2rem 0.25rem;
}
