body {
  padding: 1px;
  margin: 0;
  padding: 0;
background-color: #C0C0C0			;
}
@font-face {
  src: url(fonts/vhswidthGX.ttf);
  font-family: 'vhswidth';
}
@font-face {
  src: url(fonts/VHSShadowGX.ttf);
  font-family: 'vhsshadow';
}
@font-face {
  src: url(fonts/VHSGX.ttf);
  font-family: 'vhsregular';
}
@keyframes ginto-animation {
  from {
    font-variation-settings: 'ital' -20;
  }
  to {
    font-variation-settings: 'ital' 20;
  }
}
.animated-text {
  font-family: 'vhsregular', sans-serif;
  font-variation-settings: 'ital' 1;
  font-style: normal;
  color: green;
  text-align: center;
  transition: font-variation-settings 0.3s ease;
  animation-name: ginto-animation;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}


@keyframes ginto-animation {
  from {
    font-variation-settings: "wght" 0, "ital" 0, "NORD" 100;
  }
  to {
    font-variation-settings: "wght" 100, "ital" 100, "NORD" 200;
  }
}

.animatedwidth {
  font-family: 'vhswidth', sans-serif;
  transition: font-variation-settings 0.3s ease;
  animation-name: ginto-animation;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
text-align:center;
}





.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}





.explain {
  font-family: 'vhsregular';
  text-align: center;
font-size: 10px;

}

.button-wrapper {
  text-align: center;
  margin: 20px 0;
}

.button {
  font-family: 'vhsregular';
  font-variation-settings: 'ital' -20;
  transition: font-variation-settings 0.3s ease;
}

.button:hover {
  font-variation-settings: 'ital' 20;
}

.button {
  font-family: 'vhsregular';
  font-variation-settings: 'ital' 0;
  transition: font-variation-settings 0.3s ease;
  font-size: 7vw;
  background-color: blue;
  color: white;
  letter-spacing: 0;
  border-radius: 6vw;
  padding: 1vw 3vw 1vw;
  outline: none;
  border: none;
}

.movielist {
  font-family: 'vhsregular';
  border-radius: 10px 30px 30px 10px;
  text-align: center;
  font-size: 50px;
}

select {
  font-family: 'vhsregular';
  border: solid 1px blue;
  width: 500px;
  font-size: 20px;
}

.range__slant {
  --text-vf-wght: 400;
  --text-vf-wdth: 95;
  --text-vf-ital: 0;
  --value-tag: 'GRAD';
  --low-value: -20;
  --current-value: var(--text-vf-ital);
  --high-value: 20;
  /* Control buttons */
}
.range__slant .paragraph {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  max-width: 95vw;
  width: 45em;
}
.range__slant .paragraph .text {
  font-family: 'vhsregular', sans-serif;
  font-variation-settings: 'ital' 1;
  font-style: normal;
  color: red;
  font-size: 2rem;
  font-variation-settings: 'ital' var(--text-vf-ital);
  transition: font-variation-settings 0.3s ease;
  line-height: 7rem;
  margin:0 auto 0 auto;
  text-align: center;
}
.range__slant .controls {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  margin: 2em auto;
  text-align: center;
  width: 20rem;
}
.range__slant .controls h3 {
  display: inline;
  font-weight: normal;
  font-family: regular;
}
.range__slant .controls label {
  float: left;
  height: 1px;
  text-indent: -999em;
  visibility: hidden;
}
.range__slant .controls .slider {
  grid-column: 2/3;
}
.range__slant .controls .slider input {
  width: 100%;
}
.range__slant .controls .value-tag {
  grid-column: span 3;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-family: regular;
  text-align: left;
}
.range__slant .controls .value-tag::before {
  counter-reset: tag var(--value-tag);
  content: "'" var(--value-tag) "' range";
  font-family: sans-serif;
}
.range__slant .controls .low-value {
  grid-column: 1/2;
  text-align: left;
  width: 2.5rem;
}
.range__slant .controls .low-value::before {
  counter-reset: tag var(--low-value);
  content: counter(tag);
  font-family: sans-serif;
}
.range__slant .controls .high-value {
  grid-column: 4/5;
  text-align: right;
  width: 2.5rem;
}
.range__slant .controls .high-value::before {
  counter-reset: tag var(--high-value);
  content: counter(tag);
  font-family: sans-serif;
}
.range__slant .controls .current-value {
  grid-column: 2/3;
}
.range__slant .controls .current-value::before {
  counter-reset: tag var(--current-value);
  border: solid 1px black;
  content: counter(tag);
  display: inline-block;
  font-family: sans-serif;
  min-width: 3rem;
  margin: 0 auto;
  padding: 0.25rem 0.25rem 0.2rem 0.25rem;
}



.scroll-left {
height: 50px; 
overflow: hidden;
position: relative;
background-color:blue;
  color: white;
}
.scroll-left p {
font-family: 'vhsregular';
position: absolute;
width: 100%;
height: 100%;
margin: 0;
line-height: 50px;
text-align: center;
/* Starting position */
-moz-transform:translateX(100%);
-webkit-transform:translateX(100%); 
transform:translateX(100%);
/* Apply animation to this element */ 
-moz-animation: scroll-left 10s linear infinite;
-webkit-animation: scroll-left 15s linear infinite;
animation: scroll-left 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
0% { -moz-transform: translateX(100%); }
100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
0% { -webkit-transform: translateX(100%); }
100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
0% { 
-moz-transform: translateX(100%); /* Browser bug fix */
-webkit-transform: translateX(100%); /* Browser bug fix */
transform: translateX(100%); 
}
100% { 
-moz-transform: translateX(-100%); /* Browser bug fix */
-webkit-transform: translateX(-100%); /* Browser bug fix */
transform: translateX(-100%); 
}
}