@font-face {
    font-family: 'vhsregular';
    src: url('../vhsgx-webfont.woff2') format('woff2'),
         url('..//vhsgx-webfont.woff') format('woff'),
    url('../VHSGX.ttf') format ('truetype');
    font-weight: normal;
    font-style: normal;

}

.r100 {
    font-family: 'vhsregular', sans-serif;
    font-weight: 100;
    font-style: normal;
}
